body {
  padding: 10px;
}

label {
  display: block;
}

.addDiv {
  display: inline;
}

.formButtons {
  margin-top: 20px;
}

.hidden {
  display: none;
}

.newType {
  display: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

#currentReqs li {
  margin-left: 20px;
}

#addReqDiv {
  padding-top:25px;
}
