body {
  padding: 10px;
  padding-right: 0 !important;
  background-color: #eeeeee;
}

label {
  display: block;
}

.card-content {
  background-color: #f8f8f8 !important;
}

.card-footer {
  border-top: none !important;
}

.card-header {
  padding: 15px;
  letter-spacing: 1.4px;
}

.checkLabel {
  margin: 10px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

.checkReq {
  display: none;
}

.formButtons {
  margin-top: 20px;
}

.card {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.message {
  box-shadow: 0em 0.5em 2em rgba(10,10,10,.5)
}

.modal-backdrop {
  z-index: 0;
}

.checkReq:checked + .checkLabel {
  background-color: #3e8ed0;
}

.spanText {
  font-weight: bold;
}

.topColor {
  width: 100%;
  height: 10px;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

#currentReqs li {
  margin-left: 20px;
}

#messageDiv {
  position: fixed;
  bottom: 0;
  z-index: 1;
  right: 0;
  left: 0;
}

#navbar {
  position: sticky !important;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
}

#requireList {
  display: block;
}
