@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  padding: 10px;
}

label {
  display: block;
}

textarea {
  width: -webkit-fill-available;
}

.addDiv {
  display: inline;
}

.formButtons {
  margin-top: 20px;
}

.hidden {
  display: none;
}

.modal-backdrop {
  z-index: 0;
}

#currentReqs li {
  margin-left: 20px;
}

#requireList {
  display: block;
}
